@keyframes float {

    0%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-10px);
    }

    100%{
        transform:translateY(0);
    }
}


.mascot{
    position: absolute;
    left: 10%;
    top: 10%;
    width: 20%;
    animation: float 3s ease-in-out infinite;
}

/*ANIMACION PARA MI ICONS*/
